<div class="card">
	<div id="titlebox">
		<h1 style="margin-bottom: 20px">Store Example</h1>
		Counting products: {{ counter$ | async }}
	</div>
	<div id="formbox" *ngIf="!selectedProduct">
		<form #fsave="ngForm" (ngSubmit)="saveProduct(fsave)">
			<input type="text" name="name" id="name" ngModel placeholder="Name" required />
			<input type="number" name="code" id="code" ngModel placeholder="Code" required />
			<button>Save</button>
		</form>
	</div>
	<div id="formbox" *ngIf="selectedProduct">
		<form (ngSubmit)="updateProduct()">
			<input type="text" name="name" id="name" [(ngModel)]="selectedProduct.name" placeholder="Name" required />
			<input type="number" name="code" id="code" [(ngModel)]="selectedProduct.code" required />
			<button>Update</button>
		</form>
	</div>
	<div id="tablebox">
		<table id="table">
			<tr>
				<th>Name</th>
				<th>Code</th>
				<th>Id</th>
				<th>Action</th>
			</tr>
			<tr *ngFor="let product of products$ | async">
				<td>
					{{ product.name }}
				</td>
				<td>
					{{ product.code }}
				</td>
				<td>
					{{ product.id }}
				</td>
				<td>
					<button (click)="deleteProduct(product.id)">Delete</button>
					<button (click)="selectProduct(product)">Select</button>
				</td>
			</tr>
		</table>
	</div>
</div>